
.notfound-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.found-not{
    font-size:1.5rem;
    color:#0c0d0c;
}

.pp{
    color:#2d302a;
    font-size: 1.1rem;
}