.project-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 25rem;
    margin: 2%;
    padding: 1rem;
    border-radius: 10px;
    transition: margin-top 1s ,box-shadow 1s;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-container:hover{
    margin-top: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .card-container:nth-child(even){
    background-color: white;
}

.card-container:nth-child(odd){
    background-color: white;
} */

.figure{
  width: 95%;
  height: 50%;
}

.project-image{
    margin-top: 0.4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.interact{
    display: flex;
    flex-direction: column;
    align-self: start;
}

.desc{
    white-space: wrap; 
    width: 100%; 
    height: 8.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.desc::after{
    content: '...';
}

.live-btn{
    width: 5rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: rgb(117, 115, 115);
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.git-btn{
    width: 5rem;
    height: 2rem;
    background-color: #36454F;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-l{
    text-decoration: none;
    color: white;
}

.btn-k{
    text-decoration: none;
    color: black
}

@media screen and (max-width:850px) {
    .card-container{
        width: 15rem;
        height: 22rem;
        margin: 1rem;
        padding: 1rem;
    }
    
    
}

@media screen and (max-width:700px){
    .project-wrapper{
        justify-content: center;
    }
    .desc{
        white-space: wrap; 
        width: 100%; 
        height: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:1000px){
    .card-container{
        width: 35%;
    }
    .desc{
        white-space: wrap; 
        width: 100%; 
        height: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width:500px){
    .card-container{
        width: 70%;
    }

    .desc{
        white-space: wrap; 
        width: 100%; 
        height: 6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
