.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.intro-wrapper{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 4rem;
}

/*caption*/
.h-1{
    color:black; 
    font-size: 2rem;
}
.h-2{
    color:black; 
    font-size: 3rem;
    font-weight: 500;
}
.h-3{
    font-size: 1.2rem;
    font-weight: 500;
    color:black; 
}

.intro{
    margin: 0;
}

.para-1{
    font-size: 1.1rem;
    font-weight: 500;
}

.btn-container-1{
    width: 20rem;
    height: 4rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-container-1:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-1{
    text-decoration: none;
    font-size: 1.5rem;
    color: #1f261a;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
}

.dev-image{
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:900px){

    .h-1{
        font-size: 1.5rem;
    }
    .h-2{
        font-size: 1.8rem;
    }
    .h-3{
        font-size: 1.1rem;

    }
    
    .btn-container-1{
        width: 15rem;
        height: 3rem;
    }
    
    .btn-1{
        font-size: 1rem;
    }
    
    .dev-image{
        width: 18rem;
        height: 18rem;
    }
}

@media screen and (max-width:700px){
    .home-container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .intro-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0rem;
    }

    .para-1{
        text-align: center;
    }

    .btn-container-1{
        align-self: center;
    }
}